en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
wikipedia
wikipedia-api
streamlit>=0.80.0
spacy-streamlit
datetime
sumy
spacy>=0.8.1
